/*css样式*/
html,body {height: 100%;overflow: hidden;}
html,body,h1,h2,h3,h4,h5,h6,p,ul,li{margin: 0px;padding: 0px;font: 14px "微软雅黑";}
a{text-decoration: none;display: block;}
li{list-style: none;}
img{display: block;}
.clearfix{*zoom: 1;}
.clearfix:after{content: "";display: block;clear: both;}
body{
    /*background: mediumpurple;*/
}
header{
    width:100%;
    background: yellow;
    height:80px;
    position: relative;
}
.headerMain{
    width:1100px;
    height:80px;
    /*background: purple;*/
    margin: 0 auto;
}
.logo{
    float: left;
    margin-top: 15px;
}
.icon{
    float: left;
    margin-top: 50px;
}
.nav{
    float: right;
    margin-top: 50px;

}
.nav li{
    float: left;
    cursor: pointer;
    margin-left: 40px;
    position: relative;
}
.nav li .up{
    color: #009EE0;
}
.nav li .down{
    position: absolute;
    left:0;
    top:0;
    color: #000;
    width: 0;
    overflow: hidden;
    transition: width 1s;
}
.nav li .first{
    width:100%;
}
.nav li:hover .down{
    width:100%;
}
.arrow{
    position: absolute;
    left:0;
    bottom: -11px;
    width:21px;
    height:11px;
    transition: left 1s;
    z-index: 10;
}
.content{

    position: absolute;
    top:80px;
    bottom:0;
    right:0;
    left:0;
    background: rebeccapurple;
    overflow: hidden;
}
.contentMain{
    height:500%;
    width:100%;
    background: palegreen;
    position: absolute;
    left:0;
    top:0;
    transition: top 1s;
}
.contentMain>li{
    height:20%;
    position: relative;
    background-image: url("../img/bg1.jpg");
    background-repeat: no-repeat;
}
.contentMain>li:nth-child(1){
    background-image: url("../img/bg1.jpg");
}
.contentMain>li:nth-child(2){
    background-image: url("../img/bg2.jpg");
}
.contentMain>li:nth-child(3){
    background-image: url("../img/bg3.jpg");
}
.contentMain>li:nth-child(4){
    background-image: url("../img/bg4.jpg");
}
.contentMain>li:nth-child(5){
    background-image: url("../img/bg5.jpg");
}
.contentCenter{
    width:1100px;
    height:520px;
    background: pink;

    position: absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    margin:auto;
}
.contentCenter .fourmain{
    position: relative;
    transform-style: preserve-3d;
    perspective: 2000px;
}
.contentCenter .fourmain li{
    width:1100px;
    height:520px;
    position: absolute;
    left:0;
    top:0;
    line-height: 520px;
    text-align: center;
    font-size:80px ;
    color: #fff;
    letter-spacing:-5px;
    visibility: hidden;
}
.contentCenter .fourmain li:nth-child(1){
    background: #dc6c5f;
    visibility: visible;
}
.contentCenter .fourmain li:nth-child(2){
    background: #95dc84;
    /*visibility: visible;*/

}
.contentCenter .fourmain li:nth-child(3){
    background: #64b9d2;
}
.contentCenter .fourmain li:nth-child(4){
    background: #000000;
}
.contentCenter .circle {

    left:50%;
    bottom:0;
    position: absolute;
    transform: translateX(-50%);
}
.contentCenter .circle li{
    width:20px;
    height:20px;
    border-radius: 50%;
    background: rgba(255,255,255,0.5);
    float: left;
    margin: 2px;
    box-shadow: 0 0 4px rgba(25,25,25,0.8);
}
.contentCenter .circle .active{
    background: #fff;
}

@keyframes leftHide {
    0%{}
    50%{transform: translateX(-40%) rotateY(30deg) scale(0.7)}
    100%{transform:translateZ(-200px);}
}
.leftHide{
    animation:leftHide 2s linear;
    visibility: hidden;
}

@keyframes leftShow {
    0%{}
    50%{transform: translateX(-40%) rotateY(30deg) scale(0.7)}
    100%{transform:translateZ(200px);visibility: visible}
}
.leftShow{
    animation:leftShow 2s linear;
    visibility: visible;
}

@keyframes rightShow {
     0%{}
     50%{transform: translateX(40%) rotateY(-30deg) scale(0.7)}
     100%{transform:translateZ(200px);visibility: visible}
 }
.rightShow{
    animation: rightShow 2s linear;
    visibility: visible;
}

@keyframes rightHide {
    0%{}
    50%{transform: translateX(40%) rotateY(-30deg) scale(0.7)}
    100%{transform:translateZ(-200px);}
}
.rightHide{
    animation: rightHide 2s linear;
    visibility: hidden;

}